<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Bullet_H-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{34,14}</string>
            </dict>
            <key>Bullet_H-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
            <key>Bullet_H-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{34,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,13}}</string>
                <key>sourceSize</key>
                <string>{34,13}</string>
            </dict>
            <key>Bullet_H-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>Bullet_H-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Bullet_H.png</string>
            <key>size</key>
            <string>{146,23}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ad4a91d4a4fc3ac964e9005adc20782d:85af532d936aa9d598c1cfca0dc4fa66:9fa74e58b4192b81915bc2d3d83c1dee$</string>
            <key>textureFileName</key>
            <string>Bullet_H.png</string>
        </dict>
    </dict>
</plist>
