<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{92,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,73}}</string>
                <key>sourceSize</key>
                <string>{92,73}</string>
            </dict>
            <key>explosion_bullet10.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,108},{189,113}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,113}}</string>
                <key>sourceSize</key>
                <string>{189,113}</string>
            </dict>
            <key>explosion_bullet11.png</key>
            <dict>
                <key>frame</key>
                <string>{{693,2},{167,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{167,100}}</string>
                <key>sourceSize</key>
                <string>{167,100}</string>
            </dict>
            <key>explosion_bullet12.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,2},{157,88}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{157,88}}</string>
                <key>sourceSize</key>
                <string>{157,88}</string>
            </dict>
            <key>explosion_bullet13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>explosion_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{99,2},{120,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,86}}</string>
                <key>sourceSize</key>
                <string>{120,86}</string>
            </dict>
            <key>explosion_bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,2},{150,90}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{150,90}}</string>
                <key>sourceSize</key>
                <string>{150,90}</string>
            </dict>
            <key>explosion_bullet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,2},{159,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,101}}</string>
                <key>sourceSize</key>
                <string>{159,101}</string>
            </dict>
            <key>explosion_bullet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{175,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,104}}</string>
                <key>sourceSize</key>
                <string>{175,104}</string>
            </dict>
            <key>explosion_bullet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,108},{186,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{186,114}}</string>
                <key>sourceSize</key>
                <string>{186,114}</string>
            </dict>
            <key>explosion_bullet7.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,108},{188,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{188,115}}</string>
                <key>sourceSize</key>
                <string>{188,115}</string>
            </dict>
            <key>explosion_bullet8.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,108},{189,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,115}}</string>
                <key>sourceSize</key>
                <string>{189,115}</string>
            </dict>
            <key>explosion_bullet9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{182,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{182,125}}</string>
                <key>sourceSize</key>
                <string>{182,125}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion_anim.png</string>
            <key>size</key>
            <string>{1039,235}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:30319a146512667198b04fb67966bdf0:bb00c826922cbdbb7c58ba452b6f3818:49cc5f28d71535fe11b8dda1bfbf7475$</string>
            <key>textureFileName</key>
            <string>explosion_anim.png</string>
        </dict>
    </dict>
</plist>
