<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>explosion_bullet1.png</key>
            <dict>
                <key>frame</key>
                <string>{{37,2},{40,43}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{40,43}}</string>
                <key>sourceSize</key>
                <string>{40,43}</string>
            </dict>
            <key>explosion_bullet10.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,68},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>explosion_bullet11.png</key>
            <dict>
                <key>frame</key>
                <string>{{141,2},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>explosion_bullet12.png</key>
            <dict>
                <key>frame</key>
                <string>{{5,2},{30,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,32}}</string>
                <key>sourceSize</key>
                <string>{30,32}</string>
            </dict>
            <key>explosion_bullet13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1,1}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1,1}</string>
            </dict>
            <key>explosion_bullet2.png</key>
            <dict>
                <key>frame</key>
                <string>{{79,2},{60,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,64}}</string>
                <key>sourceSize</key>
                <string>{60,64}</string>
            </dict>
            <key>explosion_bullet3.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,155},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>explosion_bullet4.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,68},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>explosion_bullet5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>explosion_bullet6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>explosion_bullet7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>explosion_bullet8.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,68},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
            <key>explosion_bullet9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,155},{80,85}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,85}}</string>
                <key>sourceSize</key>
                <string>{80,85}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>explosion_anim.png</string>
            <key>size</key>
            <string>{248,242}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d48c39a1d914307841d7253d9fbef93a:8974053ae1969eeac0dc4fb4ab97ad0d:49cc5f28d71535fe11b8dda1bfbf7475$</string>
            <key>textureFileName</key>
            <string>explosion_anim.png</string>
        </dict>
    </dict>
</plist>
