<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>rocket-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{34,14}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,14}}</string>
                <key>sourceSize</key>
                <string>{34,14}</string>
            </dict>
            <key>rocket-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,2},{34,13}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,13}}</string>
                <key>sourceSize</key>
                <string>{34,13}</string>
            </dict>
            <key>rocket-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{34,17}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,17}}</string>
                <key>sourceSize</key>
                <string>{34,17}</string>
            </dict>
            <key>rocket-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{34,19}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{34,19}}</string>
                <key>sourceSize</key>
                <string>{34,19}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rocket.png</string>
            <key>size</key>
            <string>{146,23}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:025ce0d7a1269d493704e0525fc3f543:d24ff65f76f26d7b76c012322317041f:f01c65fad1cd56cfb81b6cd8b900d134$</string>
            <key>textureFileName</key>
            <string>rocket.png</string>
        </dict>
    </dict>
</plist>
