<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UfoB-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,55}}</string>
                <key>sourceSize</key>
                <string>{100,55}</string>
            </dict>
            <key>UfoB-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,55}}</string>
                <key>sourceSize</key>
                <string>{100,55}</string>
            </dict>
            <key>UfoB-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,2},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
            <key>UfoB-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{100,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,59}}</string>
                <key>sourceSize</key>
                <string>{100,59}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ufo-b-spritesheet.png</string>
            <key>size</key>
            <string>{410,63}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:47f15388235847148ff4bebb66965765:d40bc06f1f0d69e57fdac53cfde6ae3b:2177740744259de8788c8bc41e63cca4$</string>
            <key>textureFileName</key>
            <string>ufo-b-spritesheet.png</string>
        </dict>
    </dict>
</plist>
