<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>ufo-a-1-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
            <key>ufo-a-2-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,2},{100,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,47}}</string>
                <key>sourceSize</key>
                <string>{100,47}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>ufo-a-spritesheet.png</string>
            <key>size</key>
            <string>{206,51}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c446dd2817c11c7304cbceaede189648:f65e9c037d32c39a08f3abfe11de9cdb:712b8fe5d76db3bc6fc7ff9e537d751d$</string>
            <key>textureFileName</key>
            <string>ufo-a-spritesheet.png</string>
        </dict>
    </dict>
</plist>
